<div class="container-fluid">
    <div class="row">
        <ng-include ng-controller="slideInCtrl" src="'partials/slidein.html'"></ng-include>
        <div class="col-md-11" id="aboutUS">
            <div class="row">
                <h1 class="aboutustitle">ACME Studios Team</h1>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="images/sanjana.png"/>
                    <h4 class="nametitle">Sanjana Bhatnagar</h4>
                    <p><strong>SID:</strong> 44376352</p>
                    <p><strong>Country:</strong> China</p>
                    <p>A second year Masters student in Interaction Design from India with 
                    a background in Communication Design, Sanjana experience in 
                    advertising and digital media.</p>
                </div>
                <div class="col-md-3">
                    <img src="images/patrik.png"/>
                    <h4 class="nametitle">Patrik Odqvist</h4>
                    <p><strong>SID:</strong> 44913711</p>
                    <p><strong>Country:</strong> Sweden</p>
                    <p>Patrik is from Sweden were he is currently doing his masters in 
                        interaction design at KTH Royal Institute of Technology.</p> 
                </div>
                <div class="col-md-3">
                    <img src="images/jinyu.png"/>
                    <h4 class="nametitle">Jinyu Wang</h4>
                    <p><strong>SID:</strong> 44606219</p>
                    <p><strong>Country:</strong> China</p>
                    <p>Jinyu has recently started studying interaction design to complement her 
                        software engineering background and career prospects. </p>
                </div>
                <div class="col-md-3">
                    <img src="images/sebastian.png"/>
                    <h4 class="nametitle">Sebastian Zuloaga</h4>
                    <p><strong>SID:</strong> 44577083</p>
                    <p><strong>Country:</strong> Ecuador</p>
                    <p>With experience in education and tourism, Sebastian has found his passion 
                        Designing processes and interaction in products and 
                        systems for different industries.</p>
                </div>
            </div>

            <div class="row">
                <h1 class="aboutustitle">About the Project</h1>
            </div>

            <div class="row">
                <p>This website has been created for the course DECO 7180 (Interactive Technology Studio).
                    The web application sources information from the State Library of Queensland's (SLQ)
                    data sets. Brisbane Time Travellers is a concept implemented to use the SLQ data in a novel
                    interaction that would help students aged 8-12 learn more about Brisbane in decades past.
                </p>

                <p>If you are interested in this project, you can download the <a href="brisbanetimetravellers.pdf" download>full project document here.</a></p>
            </div>

        </div>
    </div>
</div>
