<div class="container-fluid">
    <div class="row" style="background-color: rgba(56,56,56,0.5)">

        <div class="col-md-3" style="background-color: #383838; position:fixed; height:100%;">
            <img id="logosidebar" src="images/logo_white.png">
            <h2 class="sidebartext">Choose an Avatar</h2>
            <p class="sidebartext">Your avatar will help take you back in time to explore Brisbane! 
                Along the way, you will collect treasure. This will allow you to buy new avatars to play with.</p>
        </div>
         <div class="col-md-3">
        </div>
         <div class="col-md-1">
        </div>
         <div class="col-md-2">
            <h2>Man 1</h2>
            <img class="avatarsm" src="images/man1.svg"/>
        </div>

         <div class="col-md-2">
            <h2>Man 2</h2>
            <img class="avatarsm" src="images/man2.svg"/>
        </div>

         <div class="col-md-2">
            <h2>Woman 1</h2>
            <img class="avatarsf" src="images/woman1.svg"/>
        </div>
         <div class="col-md-2">
            <h2>Woman 2</h2>
            <img class="avatarsf" src="images/woman2.svg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-9">
           <a ng-href="#!/levelmenu"> <button>Save Avatar</button></a>
        </div>
    </div>
</div>

