<div class="container-fluid">
	<div class="row" style="height:10%; background-color: gray; color: white;">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" style="text-align: center;"">
			<h2>BrissyGame</h2>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<a ng-click="signout()">
				<span  class="glyphicon glyphicon-log-out" style="font-size:2em; color: white; padding-top: 0.7em;"></span>
			</a>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12" id="map" style="height:90%; ">
		</div>
	</div>
</div>