<div class="container-fluid">
    <div class="row" >
        <div class="col-md-3" style="background-color: #383838; height:100%;" id="slideIn" ng-controller="slideInCtrl">
            <ng-include src="'partials/slidein.html'"></ng-include>
        </div>
        <div class="col-md-9" id="map" style="height: 100%;">
        </div>

        <div class="col-md-3" style="background-color: #ccb269; height: 860px; display: none;" id="landmark">
            <div class="row" ng-repeat="obj in recordsLists" id="landmark{{obj['_id']}}" style="display: none; ">
                <div class="col-md-12">
                    <div class="row">
                        <h2>Selected Landmark</h2>
                    </div>
                    <div class="row">
                        <!-- The image URL here should change based on the landmark that is clicked-->
                        <img ng-src="{{obj['150_pixel_jpg']}}" style="max-height:400px ;max-width:300px;"/>
                    </div>
                    <div class="row">
                        <!-- The titleL here should change based on the landmark that is clicked-->
                        <h3>{{obj["dc:title"]}}</h3>
                        
                    </div>
                    <div class="row" >
                        <!-- The description here should change based on the landmark that is clicked-->
                        <p style="background-color: #ccb269; overflow: hidden;">{{obj["dc:description"]}}</p>
                    </div>
                    <div class="row">
                        <ul>
                            <!-- The bullet points here should change based on the landmark that is clicked. These are only suggestions, we could add others or delete some.-->
                            <li><strong>Year: {{obj.year}} </strong></li>
                            <li><strong>Place: </strong></li>
                        </ul>
                    </div>
                    <div class="row" style="padding: 50px 15px;">
                        <img id="chest" src="images/chest_closed.png"/> 
                    </div>

                    <div class="row">
                        <a ng-click="cluepage()"><button id="chestbutton">Open Treasure!</button></a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>