<div class="container-fluid">
    <div class="row" >
        <ng-include src="'partials/slidein.html'"></ng-include>
        <div class="col-md-11" id="levelMenu" style="background-image:url(images/map_compass.png); background-size: cover; height: 100%; float:right; padding: 70px 15px;">

            <div class="row">
                <div class="col-md-1">
                </div>

                <div class="col-md-5">
                    <a ng-href="" ng-click="levelLoad(1)">
                        <img src="images/Level1.png" id="level1"/>
                    </a>
                </div>

                <div class="col-md-5">
                    <a ng-href="" ng-click="levelLoad(2)">
                        <img src="images/Level2.png" id="level2"/>
                    </a>
                </div>

                <div class="col-md-1">
                </div>
            </div>

            <div class ="row">
                <div class="col-md-1">
                </div>

                <div class="col-md-5">
                    <a ng-href="" ng-click="levelLoad(3)">
                        <img src="images/Level3.png" id="level3"/>
                    </a>
                </div>

                <div class="col-md-5">
                    <a ng-href="" ng-click="levelLoad(4)">
                        <img src="images/Level4.png" id="level4"/>
                    </a>
                </div>

                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>