
<div class="container-fluid" ng-hide="state==true">
    <div class="row">
        <div class="col-md-12">
            <h1>Demo</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img id="splashlogo" src="images/logo_grey.png" style="max-height:400px;" style="max-width: 400px;"/>
        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
           <a ng-click="changeState()"><button>PLAY!</button></a>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12" >
            <p class="blockquote"><strong>Developed by: Sanjana Bhatnagar, Patrik Odqvist, Jinyu Wong, Sebastian Zuloaga </strong> </p>
        </div>
    </div>
</div>
<div class="container-fluid" ng-show=state==true;>
    <div class="row">
        <div class="row" style= "padding: 40px 0px;">
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <img id="splashlogo" src="images/logo_grey.png" style="max-height:200px;" style="max-width: 200px;"/>
            </div>
        </div>

        <div class= "row" id="backgroundbrisbane">
            <div class="col-md-3">
            </div>

            <div class="col-md-6" style ="background-color: rgba(56,56,56,0.6); padding: 10px 15px;">

                <div class="col-md-1">
                </div>

                <div class="col-md-10" style="padding: 0px 15px;">
                    <form ng-submit="login(username,password)" style="width: 100%;">
                        <div class="row"  style="padding: 5px 0px;">
                            <input ng-model="username" placeholder="Username" style = "width: 100%; padding: 10px 0px;"></input>
                            <input ng-model="password" placeholder="Password" style = "width: 100%; padding: 10px 0px;" type="password"></input>
                        </div>
                    
                        <div class="row" style="padding: 10px 0px;">
                        	<button style = "width: 80%; padding: 15px 0px;">Login</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-1">
                </div>

            </div>

            <div class="col-md-3">
            </div>

            <div class="row" style="padding: 250px;">
            </div>

        </div>
    </div>
    <div class="row" style="height: 80%;" ng-show="loading==true">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
				<img ng-src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
		</div>
	</div>
</div>





<!---





<div class="container-fluid">
	<div class="row" style="background-color: gray; height: 10%;">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" style="text-align: center;  color: white;">
			<h1>Brissy Game</h1>
		</div>
	</div>
	<div class="row" style="background-image: url(https://redox.com/media/1307/brisbanebanner-1920.jpg); height: 80%;" ng-hide="loading==true">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-4" >
					<div class="container-fluid" style="border: 1px solid white; margin-top: 10em; height: 25em; width: 30em; margin-right: 60%; background-color:rgba(255,255,255,0.7);" >
						<div class="row">
							<div class="col-md-12" style="text-align: center; color: white;">
								<h2>Sign in</h2>
							</div>
						</div>
						<form ng-submit="login(username,password)">
						<div class="row" style="margin-top: 20%; margin-left: 27.5%;">
							<div class="col-md-12">

								<input ng-model="username" placeholder="Username" style="width: 11em;">
									
								</input>
							</div>
						</div>
						<div class="row" style="margin-left: 27.5%;">
							<div class="col-md-12">
								<input ng-model="password" placeholder="Password" style="width: 11em;" type="password">
									
								</input>
							</div>
						</div>
						<div class="row" style="margin-left: 27.5%; margin-top: 10%;"">
							<div class="col-md-12">
								<button style="width: 11em;">
									Login
								</button>
							</div>
						</div>
						</form>
						<div class="row" style="margin-left: 27.5%; margin-top: 5%;">
							<div class="col-md-12">
								<button style="width: 11em;">
									Sign up
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" style="background-color: gray; height: 10%;">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" style="text-align: center;  color: white;">
		</div>
	</div>
</div>
-->