
<div class="container-fluid" ng-hide="state==true">
    <div class="row">
        <div class="col-md-12">
            <h1>Demo</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img id="splashlogo" src="images/logo_grey.png" style="max-height:400px;" style="max-width: 400px;"/>
        </div>
    </div>

     <div class="row">
        <div class="col-md-12">
           <a ng-click="changeState()"><button>PLAY!</button></a>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12" >
            <p class="blockquote"><strong>Developed by: Sanjana Bhatnagar, Patrik Odqvist, Jinyu Wong, Sebastian Zuloaga </strong> </p>
        </div>
    </div>
</div>
<div class="container-fluid" ng-show=state==true;>
    <div class="row">
        <div class="row" style= "padding: 40px 0px;">
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <img id="splashlogo" src="images/logo_grey.png" style="max-height:200px;" style="max-width: 200px;"/>
            </div>
        </div>

        <div class= "row" id="backgroundbrisbane">
            <div class="col-md-3">
            </div>

            <div class="col-md-6" style ="background-color: rgba(56,56,56,0.6); padding: 10px 15px;" >

                <div class="col-md-1">
                </div>

                <div class="col-md-10" ng-hide="signUpTest==true" style="padding: 0px 15px;">
                    <form ng-submit="login(email,password)" style="width: 100%;">
                        <div class="row"  style="padding: 5px 0px;">
                            <input ng-model="email" placeholder="Email" style = "width: 100%; padding: 10px 0px;"></input>
                            <input ng-model="password" placeholder="Password" style = "width: 100%; padding: 10px 0px;" type="password"></input>
                        </div>
                    
                        <div class="row" style="padding: 10px 0px;">
                        	<button style = "width: 80%; padding: 15px 0px;">Login</button>
                        </div>
                    </form>
                        <div class="row" style="padding: 10px 0px;">
                        	<button ng-click="signUpPopUp()" style="width: 80%; padding: 15px 0px;">Sign Up</button>
                        </div>
                </div>
                <div class="col-md-10" ng-show="signUpTest==true" style="padding: 0px 15px;">
                    <form ng-submit="signUp(username,email,password)" style="width: 100%;">
                        <div class="row"  style="padding: 5px 0px;">
                            <input ng-model="username" placeholder="Username" style = "width: 100%; padding: 10px 0px;">
                            </input>
                            <input ng-model="email" placeholder="Email" style = "width: 100%; padding: 10px 0px;">
                            </input>
                            <input ng-model="password" placeholder="Password" style = "width: 100%; padding: 10px 0px;" type="password">
                            	
                            </input>
                        </div>
                    
                        <div class="row" style="padding: 10px 0px;">
                        	<button style = "width: 80%; padding: 15px 0px;">Sign Up</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                </div>

            </div>

            <div class="col-md-3">
            </div>

            <div class="row" style="padding: 250px;">
            </div>

        </div>
    </div>
</div>
