<div class="container-fluid" style="overflow: scroll;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1">
				</div>
				
				<div class="col-md-4">
				</div>
				<div class="col-md-2">
					<a ng-href="#!/search"><button>Back</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			
			<div class="row">
				<div class="col-md-12">
					<img ng-src="{{detailObject['1000_pixel_jpg']}}" style="max-height:400px ;max-width:300px;">
					</img>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" >
					<h3>{{detailObject["dc:title"]}}</h3>
					<p style="overflow: hidden;">{{detailObject["dc:description"]}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="height: 50%; overflow:scroll;" id="mapTwo">
				</div>
			</div>
		</div>

		<div class="col-md-2">
		</div>
	</div>

</div>