
<div class="container-fluid">
    <div class="row">
        <ng-include src="'partials/slidein.html'"></ng-include>
        <div class="col-md-11" id="referencesPage">
            <div class="row">
                <h1 class="centertitle">References</h1>
            </div>
            <div class="row">
                <h3>Logo Assets</h3>
                <p><a href="http://www.freepik.com/free-vector/pirate-skull-and-a-map-on-the-wall_1296860.htm">http://www.freepik.com/free-vector/pirate-skull-and-a-map-on-the-wall_1296860.htm</a></p>
                <h3>Character Clothing inspiration</h3>
                <p><a href="https://www.duitang.com/blog/?id=570592150">https://www.duitang.com/blog/?id=570592150</a></p>
                <p><a href="http://huaban.com/pins/716877343/">http://huaban.com/pins/716877343/</a></p>
                <p><a href="http://www.iaweg.com/kantu/evzqprsl/81.html">http://www.iaweg.com/kantu/evzqprsl/81.html</a></p>
                <p><a href="http://huaban.com/pins/716884717/">http://huaban.com/pins/716884717/</p>
                <p><a href="http://www.iaweg.com/kantu/e1zrmott/21.html">http://www.iaweg.com/kantu/e1zrmott/21.html</a></p>
                <h3>SLQ Database Information</h3>
                <p><a href="http://data.gov.au/organization/slq">http://data.gov.au/organization/slq</a></p>
                <h3>Google Maps API</h3>
                <p><a href="https://developers.google.com/maps/">https://developers.google.com/maps/</a></p>
                <h3>Progress Page Image</h3>
                <p><a href="http://www.qhatlas.com.au/map/united-states-army-map-brisbane-c1941">http://www.qhatlas.com.au/map/united-states-army-map-brisbane-c1941</a></p>
                <h3>Background Map</h3>
                <p><a href="http://www.freepik.com/free-vector/retro-wind-rose_791854.htm">http://www.freepik.com/free-vector/retro-wind-rose_791854.htm</a></p>
            </div>
        </div>
</div>