<div class="container-fluid">
	<div class="row" style="height:3em;">
		<div class="col-md-3">
			<input ng-model="number" ng-submit="sort(number)"></input>
		</div>
		<div class="col-md-3">
			<button ng-submit="sort(number)" ng-click="sort(number)">
				filter
			</button>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<button ng-model="input" ng-click="search()">
				Real Estate
			</button>

		</div>
		<div class="col-md-2">
			<button ng-click="maps()">
				Digitized maps
			</button>
		</div>
		<div class="col-md-2">
			<button ng-click="pictures()">
				Pictures
			</button>
		</div>
		<div class="col-md-2">
			<button ng-click="wwOne()">
				WWI Records
			</button>
		</div>
		<div class="col-md-2">
			<button ng-click="wwOnePictures()">
				WWI Pictures
			</button>
		</div>
		<div class="col-md-2">
			<button ng-click="convicts()">
				Convicts
			</button>
		</div>
	</div>
	<div class="row" style="margin-top: 1em;">
		<div class="col-md-2">
			<button ng-click="miningAccidents()">
				Mining Accidents
			</button>
		</div>
		<div class="col-md-2">
			<button ng-click="newsPapers()">
				Old Papers
			</button>
		</div>
	</div>
	<div class="row" ng-repeat="record in recordList" style="border: 1px solid orange; margin-top: 1em;" ng-show="realMaps">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-1">
				</div>
				
				<div class="col-md-9" style="color:black">
					<h2>{{record['dc:title']}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-9">
					<img ng-src="{{record['150_pixel_jpg']}}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				
				<div class="col-md-9">
					<p>{{record['dc:description']}}</p>
				</div>
			</div>

		</div>
	</div>
</div>