<div class="col-md-3" style="background-color: #383838; padding-top: 0;" ng-show="clicked==true">
    <div class="row">
        <div class="col-md-10" id="sidebar10">
            <div class="row">
                <img id="logosidebar" src="images/adventure_logo.png"/>
            </div>
            <div class="row">
                <img class="sidebaravatar" src="{{currentUser.avatarIMG}}"></img>
            </div>
            <div class="row">
                <h3 class="username">{{currentUser.username}}</h3>
                <p class="currency_indicator">Currancy: ${{currentUser.currancy}}.0</p>
            </div>
            <div class="row navbar">
                <a ng-if=checkGame() ng-click="backButton()"><button class="sidebarbutton">LEVEL MENU</button></a>
                <a href="#!/progress"><button class="sidebarbutton">PROGRESS</button></a>
                <a href="#!/search"><button class="sidebarbutton">Search Database</button></a>
                <a href="#!/aboutus"><button class="sidebarbutton">About Us</button></a>
                <a href="#!/references"><button class="sidebarbutton">References</button></a>
                <a ng-click="signout()"><button class="sidebarbutton">Log Out</button></a>
            </div>
            <div class="row">
                <p id="fineprint">Brisbane Time Explorers has been developed for educational purposes
                    by Sanjana Bhatnagar, Jinyu Wang, Patrik Odqvist, and Sebastian Zuloaga. 
                </p>
            </div>
        </div>
        <div class="col-md-2" style="background-color: #474747; height: 100%">
            <a href="" ng-click="clickAction()" ><span class="glyphicon glyphicon-menu-hamburger"  style="font-size: 2em; color: white"></span></a>
        </div>
    </div>
</div>

<div class="col-md-1"  id="sliderTwo" ng-hide="clicked==true">
    <a href="" ng-click="clickAction()" ><span class="glyphicon glyphicon-menu-hamburger"  style="font-size: 2em; color: white"></span></a>
</div>
